.topicDetails__container {
  padding: 20px;
  margin: 10px 30px;
  border-radius: 15px;
  background-color: white;
  min-height: 85vh;
  min-width: 500px;
  width: 40%;
  transition: 0.5s;
}

.topicDetails__container:hover {
  cursor: pointer;
}

.topicDetails__container h2 {
  font-size: 30px;
  margin-top: 3%;
}

.topicDetails__container h3 {
  margin-top: 5%;
}

.topicDetails__container h1 {
  font-size: 30px;
  margin-top: 5%;
}

.titleAndRequest {
  display: flex;
  justify-content: space-between;
}

.dropDown {
  width: 90%;
  border: 1px solid black !important;
  border-radius: 8px !important;
}

.dropDown button {
  margin: 0 auto !important;
}

.requestButton {
  background-color: rgb(145, 145, 255) !important;
  margin-top: 20px;
}

.avatars {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.memberCount {
  display: flex;
  align-items: center;
  height: 70px;
}

.joinCode {
  margin-top: 20px;
}

.joinCode h4 {
  color: #0062ec;
}

.joinCode span {
  color: #0062ec;
  border: 1px dashed black;
  background-color: lightgray;
  padding-left: 5%;
  padding-right: 5%;
}

.frequency h4{
  color: #0062ec;
}

#count {
  margin-top: 13px;
  font-weight: bold;
  margin-left: 10px;
}

.innerTopicDetails img {
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 60px;
  border-radius: 100px;
}
.innerTopicDetails p {
  font-weight: 500;
  font-size: medium;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
