.topicsList__container {
  display: flex;
  flex-direction: row;
}

.topics-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7%;
  background-image: linear-gradient(#29429b,#8099b1);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.topic-card {
  border-radius: 5px !important;
  width: 65%;
  height: fit-content;
  margin: 3px 0 !important;
}

.topic-card:hover{
  box-shadow: 1px 1px 120px;
  background-color: rgb(195, 217, 255);
  transition: 800ms;
}

.topic-buttons{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  border: none;
}

.topic-buttons button{
  margin-top: 5%;
  background-color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-shadow: 1px 1px 20px black;
  border: none;
  border-radius: 7px;
}

.topic-buttons button:hover{
  background-color: rgb(62, 62, 202);
  box-shadow: 1px 1px 5px black;
  transition: 500ms;
  color: aliceblue;
}
